@{
  Layout = "_Layout";
}
@using Factory.Models
@model Factory.Models.Machine
<div class="container">
  <h1>Add a Machine</h1>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Model)<br />
    @Html.TextBoxFor(model => model.Model, new {@class = "form-control", placeholder= "Engineer Name", required="required"})<br/>

    @Html.LabelFor(model => model.Condition)<br />
    @Html.TextBoxFor(model => model.Condition)<br/><br />
    
    @* @Html.Label("Which Engineers are Licensed to Repair this Machine?")<br />
    @Html.DropDownList("EngineerId")<br /><br /> *@
    <input type="submit" value="Add Machine" />
  }
</div>