@{
  Layout= "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer
<div class="container">
<h3>License @Model.Name On a New Machine</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
    @Html.Label("Machine")
    @Html.DropDownList("MachineId")<br /><br />
  <input type="submit" value="Add" />
}

<br />
</p>@Model.Name is Already Licensed for the Following Machines</p>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  <ul>
  @foreach (var join in Model.JoinEntities)
  {
    <li>@join.Machine.Model</li>
  }
  </ul>
}
<p>@Html.ActionLink("Back to Engineer's Details", "Details", new {id = Model.EngineerId})</p>
</div>