@{
  Layout = "_Layout";
}
@using Factory.Models
@model Factory.Models.Engineer
<div class="container">
  <h1>Add an Engineer</h1>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)<br />
    @Html.TextBoxFor(model => model.Name)<br/><br />

    @Html.Label("How skilled is this engineer?")<br />
      @Html.RadioButtonFor(model => model.Level, 1)<span> Don't trust this guy</span><br />
      @Html.RadioButtonFor(model => model.Level, 2)<span> They can probably fix it</span><br />
      @Html.RadioButtonFor(model => model.Level, 3)<span> Look at Dr. Wrench-Hands over here</span><br />
      @Html.RadioButtonFor(model => model.Level, 4)<span> A real Machine Jerk</span><br /><br />
    
    @* @Html.Label("Which machines is this engineer licensed to repair?")<br />
    @Html.DropDownList("MachineId")<br /><br /> *@
    <input type="submit" value="Add Engineer" />
  }
</div>