@{
  Layout= "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer
<div class="container">
<h3>Edit @Model.Name</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name, new {@class = "form-control", placeholder= "Engineer Name", required="required"})<br/><br />

  @Html.Label("How skilled is this engineer?")<br />
  @Html.RadioButtonFor(model => model.Level, 1)<span> Don't trust this guy</span><br />
  @Html.RadioButtonFor(model => model.Level, 2)<span> They can probably fix it</span><br />
  @Html.RadioButtonFor(model => model.Level, 3)<span> Look at Dr. Wrench-Hands over here</span><br />
  @Html.RadioButtonFor(model => model.Level, 4)<span> A Real Machine Jerk</span><br /><br />

  <input type="submit" value="Save"/>
}
</div>